$aboutMebackgroundPic: "../../assets/images/white_wavy_square_bckgrd.jpg";


.about-me{
       /* background:url($aboutMebackgroundPic);
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;*/
        
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            font-size: 2rem;
            line-height: 1.4;
            font-weight: 600;
            color: rgb(13, 13, 14);
        
}