/*html{
  font-size: 62.5%;
}*/


html:focus-within {
  scroll-behavior:smooth !important;
}

body{
  background-color: rgb(147, 160, 175);

    box-sizing: border-box;
    margin: 0 auto;
  font-family:monospace;
    
}

section{
  scroll-behavior:smooth;

  scroll-margin-top: 3rem;
}