.contact{
min-height: 160px;  
font-size: 2rem;
background-color: white;
}




#icon-color-1{
color: rgb(50, 49, 49)           
}

#icon-color-1:hover{
  color: rgb(147, 160, 175);
}

.blink-2 {
	animation: blink-2 2s 15 both;
}

@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
