$backgroundPic: "../../assets/images/starSky.jpg";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');


.bigfoot {
  z-index: 100;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items:center;
  height: 220px;
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Caveat';
  font-size: 2rem;
  background-image: url($backgroundPic);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#impressum{
  position: absolute;
  margin-top: 120px;
  font-size: 1.3rem;
  text-decoration: none;
}

.impressum-card{
  min-width: 200px;
  height: 400px;
  position: absolute;
  //display: none;
  z-index: 1000;
  background-color: white;
  font-size: 2rem;
  color: black;
  margin-bottom: 400px;
}