@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');


.nav {
    display: flex;
    top: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-height: 72px;
    justify-content: space-between;
    padding: 0.7rem;
    background-color: #bcf17c;
    background: linear-gradient(
        200deg,
        rgb(1, 21, 63) 0%,
        rgb(190, 40, 224) 37%,
        rgb(255, 217, 20) 80%
      );
     
    align-items: center;
    z-index: 1000;
    ul {
      padding: 0;
      margin: 0;
    }
}

.nav-container{
    max-width: 80vw;
    @media(max-width: 783px){
      max-width: 85vw;
    }
}

.nav-item {
    display: flex;
    color: #fff;
    margin: auto !important;
    list-style: none;
    
    justify-content: flex-end;
    a:hover{
      color: rgb(158, 183, 215);
    }
}

#logo{
    width: 50px;
}

.custom-nav-link {
    color:#fff;
    font-family: 'Caveat', cursive;
    font-weight: 600;
    padding: 9px 9px;
    text-decoration: none;
    font-size: 1.6rem;
    @media (max-width: 767px) 
  {
  color: black;
  }
 }

.navbar-toggler-icon{
    width: 47px;
}

.collapsing-NB{
 @media (max-width: 767px) 
  {   line-height: 28px;
      margin-left: -65px;
      margin-right: -70px;
      margin-top: 9.5px;
      background-color: #ffffff;
  }
}

.navbar-collapse {
  @media (min-width: 767px) 
  {
     flex-grow: 0;
  }
}


  
  

  