@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');


.nav {
    //position: fixed;
    display: flex;
   top: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-height: 72px;
    justify-content: space-between;
    padding: 0.7rem;
    background-color: #bcf17c;
    background: linear-gradient(
        200deg,
        rgb(1, 21, 63) 0%,
        rgb(190, 40, 224) 37%,
        rgb(255, 217, 20) 80%
      );
     
    align-items: center;
    z-index: 1000;
    ul {
      padding: 0;
      margin: 0;
    }
  }

  .nav-container{
    display: flex;
    max-width: 80vw;
    margin-right: auto;
    margin-left: auto;
  }

  
  .nav-list {
    display: flex;
    color: #fff;
    margin-left: auto !important;
    list-style: none;
    
    justify-content: flex-end;
    a:hover{
      color: #fff;
      text-decoration-line:underline ;
    }
  }

  #logo{
    width: 50px;
  }


  .custom-nav-link {
    
    color:#fff;
    font-family: 'Caveat', cursive;
    font-weight: 600;
    padding: 9px 9px;
    text-decoration: none;
    font-size: 1.5rem;
    
    
  }

 

  #nav-title {
    color: white;
    font-size: 2.9rem;
    line-height: 1;
}
  
#topnav{
  display: flex;
}
  
  
.navbar-offcanvas {
  flex-basis: 100%;
  flex-grow: 0;
  align-items:center;
}

.navbar-toggler-icon{
  width: 47px;
  color: rgb(251, 251, 251);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: 1px;
    box-shadow:#fff;
}

.navbar-collapse{
 flex-grow: 0;
 flex-basis: 100%;
 width: 100%;
 flex-direction: column;
}
  
  
  
  