
.projects-container{
    display: flex;
    flex-direction: row;
    justify-content:center; 
    padding-bottom: 30px;
   padding-top: 50px;
    @media(max-width: 1385px){
        flex-direction: column;
        align-items: center; 
      }  
}

.projects{
  font-size: 3.5rem;
  color: white;
  padding-top: 20vh;
  @media(max-width: 1385px){
    margin-bottom: 50px;
    padding-top: 0;
  }  
  

}

/* The device with borders */
.tablet {
    position: relative;
    width: 800px;
    height: 412px;
    margin-left: 60px;
    border: 16px white solid;
    border-left: 60px white solid;
  border-right: 60px white solid;
    border-radius: 36px;
    @media(max-width: 1004px){
        
        margin: 0 auto;
        width: 357px;
        height: 640px;
        border: 16px #ffffff solid;
        border-top-width: 60px;
        border-bottom-width: 60px;
        border-radius: 36px;    
      }   
  }
  
  /* The horizontal line on the top of the device */
  .tablet::before {
    content: '';
    
  display: inline;
  width: 5px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: -30px;
  background: #000000;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  @media(max-width: 1004px){
    content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  background: #000000;
  transform: translate(-50%, -50%);

  border-radius: 10px;   
  }   
  }
  
  /* The circle on the bottom of the device */
  .tablet::after {
    content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  right: -65px;
  top: 50%;
  background: #ffffff;
  border: 1px solid #424141;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  @media(max-width: 1004px){
    
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  top: 106%;
  background: #ffffff;
  //transform: translate(-50%, -50%);
  border-radius: 50%;
  }   
  }
  
  /* The screen (or content) of the device */
  .tablet .content {
    width: 768px;
    height: 1024px;
    background: white;
    margin: -1px;
  }

  .car-picture-sizing{
    max-width: 100%;
    display: block;
  }



  .shoeShopImage{
    @media(min-width: 1005px){
      

      content: url("../images/shoeShop_pic.png");
      max-width: 800px;
      max-height: 383px;
    
    }
  


    @media(max-width: 1004px){

      content: url("../images/shoe-shop-mobile.jpg");
      max-width: 380px;
      max-height: 521px;
      background-color: #ffffff;
      display: block;
  margin-left: auto;
  margin-right: auto;
      
      
    }
  }

  .healifyAppImage{
    @media(min-width: 1005px){
      

      content: url("../images/healifyApp_pic.png");
      max-width: 800px;
      max-height: 383px;
    
    }
  


    @media(max-width: 1004px){

      content: url("../images/cpw-mobile.jpg");
      max-width: 383px;
      max-height: 521px;
      background-color: #ffffff;
      display: block;
  margin-left: auto;
  margin-right: auto;
      
      
    }
  }

  .dolphinBankImage{
    @media(min-width: 1005px){
      

      content: url("../images/dolphinBank_pic.png");
      max-width: 800px;
      max-height: 388px;
    
    }
  


    @media(max-width: 1004px){

      content: url("../images/dolphinBank-mobile.jpg");
      max-width: 383px;
      max-height: 521px;
      background-color: #ffffff;
      display: block;
  margin-left: auto;
  margin-right: auto;
      
      
    }
  }