

.technologies{
        background-color: rgba(53, 54, 55, 0.8);
        background: linear-gradient(
        0deg,
        rgb(249, 246, 250,0.85) 10%,
        rgb(53, 54, 55, 0.85) 80%
      
      );
        
        font-size: 2rem;
          
}

.card{
    width: 270px;
    height: 250px;
    background-color: rgb(246, 246, 246);
    /*background: linear-gradient(
        270deg,
        rgb(234, 126, 253) 0%,
        rgb(255, 255, 255) 100%
      
      );*/
    //background-color: rgb(221, 247, 249);
}