$backgroundPic: "../../assets/images/starSky.jpg";


.technologies{
        background-color: rgb(255, 253, 253, 0.95);
        
        font-size: 2rem;
          
}

.card{
    max-width: 270px;
    height: 250px;
    background-color: #def7bf;
    background: linear-gradient(
        270deg,
        rgb(226, 214, 228) 1%,
        rgb(255, 255, 255) 100%
      
      );
    //background-color: rgb(221, 247, 249);
}